<div class="row section">
  <div class="col s10">
    <h2 class="bold light-blue-text">Hello!</h2><br><h5> As you probably know by now, I am Mal. I am a full stack software developer with a background in nonprofit work, who is eager to build and contribute to meaningful projects. With a degree in Anthropology and a love of travel, I bring the ability to approach ideas through the view of many perspectives and lenses. For me, writing clean and efficient code, composing a song, and drafting a new poem all engage and inspire creativity.<br><br>
    I enjoy carrying the spark of a great idea from concept to reality. I believe in making integrous and useful applications that contribute to the greater good. If I am not building things on my computer, you will find me writing music, reading poetry, or exploring the Bay Area with my sweet fiancé.
    </h5>
  </div>
  <div class="col s2">
    <%= image_tag("mal_reel.jpg", class: "mal-reel") %>
  </div>
</div>
<!--  <a href="https://resume.creddle.io/resume/90f9izblaxv" class="waves-effect waves-light btn">View my resume</a> -->
<div>
  <h3 class="bold light-blue-text"> My toolkit: </h3><br>
<div class="row">
  <div class="col s2 center">
    <%= image_tag("rails.png", class: "tech-icon")%><br>Ruby on Rails
  </div>
  <div class="col s2 center">
    <%= image_tag("ruby.png", class: "tech-icon")%><br>Ruby
  </div>
  <div class="col s2 center">
    <%= image_tag("js.jpg", class: "tech-icon")%><br>Javascript
  </div>
  <div class="col s2 center">
    <%= image_tag("css.png", class: "tech-icon")%><br>CSS3
  </div>
  <div class="col s2 center">
    <%= image_tag("html.png", class: "tech-icon")%><br>HTML5
  </div>
   <div class="col s2 center">
  </div>
</div>
<div class="row">
  <div class="col s2 center">
    <%= image_tag("postgres.png", class: "tech-icon")%><br>PostgreSQL
  </div>
  <div class="col s2 center">
    <%= image_tag("git.png", class: "tech-icon")%><br>Git
  </div>
  <div class="col s2 center">
    <%= image_tag("sass2.png", class: "tech-icon")%><br>Sass
  </div>
  <div class="col s2 center">
    <%= image_tag("materialize.png", class: "tech-icon")%><br>Materialize
  </div>
  <div class="col s2 center">
    <%= image_tag("heroku.png", class: "tech-icon")%><br>Heroku
  </div>
   <div class="col s2 center">
    
  </div>
</div>
