<h2 class="bold">My Work</h2>
<hr>
  <h3><a href="http://auto-biography.herokuapp.com/">auto-biography</a></h3>
  <h5>Allow users to keep track of repairs and maintenance work done to     their car. Give them the ability to access comprehensive reports to send to mechanics or potential buyers. 
  </h5>
  <div class="row">
    <div class="col s6"><%= image_tag("auto1.jpg", class: "work-photo") %></div>
    <div class="col s6"><%= image_tag("auto2.jpg", class: "work-photo") %>
    </div>
  </div>
  <hr>
  <h3><a href="http://arecipebox.herokuapp.com/">recipe box</a></h3>
    <h5>Used Nokogiri to scrape recipe website for just ingredients and directions for cooking. Application allows users to save recipes and receive texts with the ingredients.</h5>
      <div class="row">
        <div class="col s6"><%= image_tag("recipe1.jpg", class: "work-photo") %></div>
        <div class="col s6"><%= image_tag("recipe2.jpg", class: "work-photo") %></div>
      </div>
    <hr>
  <h3><a href="">say yes</a></h3>
  <h5> Application that allows users to share poetry snippets, follow other users, and access a feed of posted snippets. </h5>
   <div class="row">
      <div class="col s6"><%= image_tag("sayyes2.png", class: "work-photo") %>
      </div>
      <div class="col s6"><%= image_tag("sayyes.png", class: "work-photo") %>
      </div>
    </div>
      <hr>

