<!DOCTYPE html>
<html class="background-color">
  <head>
    <title>Mal Wood</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>  

  <body>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#about-section" id="about">ABOUT</a></li>
          <li><%= link_to 'WORK', work_path%></li>
          <li><a href="#connect-section" id="connect">CONNECT</a></li>
          <li><a href="https://resume.creddle.io/resume/90f9izblaxv">RESUME</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
          <h5 class="white-text center-align">If you love it, chase it.</h5>
      </div>
    </div>
      <div class="footer-copyright">
      <div class="container center-align">
        © Mal Wood. All Rights Reserved.
      </div>
    </div>
  </footer>          
</html>
